<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar-StudyChat</title>
    <link rel="shortcut icon" href="book.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style/pagina-para-entrar-na-conta.css">
</head>
<body>
    <form action="/html/pagina-de-mensagens.html" method="get" autocomplete="off">
        <h1><a href="/html/index.html" class="nome-do-site">StudyChat</a></h1>
        <input class="x" type="text" id="nome" name="nome" placeholder="Nome de usuário">
        <input class="x" type="password" id="senha" name="senha" placeholder="Senha">
        <button type="submit">Entrar</button>
        <p>Não tem uma conta? <a href="/html/pagina-para-criar-conta.html" class="cadastre-se">Cadastre-se</a></p>
    </form>
</body>
</html>